@{
    ViewData["title"] = "Iniciar sesión";
}

<div>
    <form method="POST" action='@Url.Action("GuardarPreguntaAñadida", "Home")'>
        <label>Datos del admin</label>
        <div class="form-group">
            <input autocomplete="off" maxlength="50" required="required" class="form-control" type="text" name="Username" placeholder="Nombre de usuario"><br>
        </div>

        <div class="form-group">
            <input autocomplete="off" maxlength="255" required="required" class="form-control" type="password" name="Password" placeholder="Contraseña"><br>
        </div>

        <label>Pregunta</label>
        <div class="form-group">
            <select class="form-control" required="required" name="IdDificultad">
                @foreach(Dificultad dificultad in ViewBag.Dificultades){
                    <option value="@dificultad.IdDificultad">@dificultad.Nombre</option>
                }
            </select><br>
        </div>

        <div class="form-group">
            <select class="form-control" required="required" name="IdCategoria">
                @foreach(Categoria categoria in ViewBag.Categorias){
                    <option value="@categoria.IdCategoria">@categoria.Nombre</option>
                }
            </select><br>
        </div>

        <div class="form-group">
            <input autocomplete="off" required="required" maxlength="500" class="form-control" type="text" name="PrFoto" placeholder="Foto"><br>
        </div>

        <div class="form-group">
            <textarea name="PrEnunciado" maxlength="250" placeholder="Enunciado de la pregunta" class="form-control"></textarea><br>
        </div>

        <label>Respuestas</label>
        @for(int i = 1; i < 5; i++){
            string Name = "ContenidoR" + @i;
            <div class="form-group">
                <input autocomplete="off" maxlength="50" required="required" name="@Name" placeholder="Enunciado de la respuesta @i" type="text" class="form-control"><br>
            </div>
        }

        <div class="form-group">
            <input min="1" max="4" name="RCorrecta" type="number" required="required"  placeholder="Número de respuesta correcta" class="form-control"><br>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>