@{
    ViewData["title"] = $"¡Nueva pregunta!";
    int ContadorFilas = 0;
}

<div class="text-center">
    <p>Tu nombre de usuario: @ViewBag.Username | Tu puntaje actual: @ViewBag.PuntajeActual</p>
    <p>Pregunta N°@ViewBag.Progreso</p>
    <h2>@ViewBag.Pregunta.Enunciado</h2>
    @if(!string.IsNullOrEmpty(ViewBag.Pregunta.Foto)){
        <img src="@ViewBag.Pregunta.Foto" alt="Foto de la pregunta" width="20%">
    }

    <form method="POST" action='@Url.Action("VerificarRespuesta", "Home")'>
        <input type="hidden" name="IdPregunta" value="@ViewBag.Pregunta.IdPregunta"><br>
        <!-- Contenedor de la grilla -->
        <div class="container">
            <!-- Fila de la grilla -->
            <div class="row">
                @foreach(Respuesta respuesta in ViewBag.Respuestas){
                    ContadorFilas++;
                    <div class="Respuesta col">
                        <label>
                            <input required="required" id="@respuesta.IdRespuesta" type="radio" name="IdRespuesta" value="@respuesta.IdRespuesta">
                            <label for="@respuesta.IdRespuesta">@respuesta.Contenido</label><br>
                        </label>
                    </div>

                    @if(ContadorFilas % 2 == 0){
                        // Este coso crea un salto de línea dentro de la grilla
                        <div class="w-100"></div>
                    }
                }
            </div>
        </div>
        <button class="btn btn-primary">Enviar</button>
    </form>
</div>