@{
    ViewData["title"] = "¡Nueva pregunta!";
    int ContadorFilas = 0;
}

<div class="text-center">
    <p>Tu nombre de usuario: @ViewBag.Username | Tu puntaje actual: @ViewBag.PuntajeActual | Tiempo restante: <span id="minutes"></span>:<span id="seconds"></span></p>
    <p>Pregunta N°@ViewBag.Progreso</p>
    <h2>@ViewBag.Pregunta.Enunciado</h2>
    @if(!string.IsNullOrEmpty(ViewBag.Pregunta.Foto)){
        <img src="@ViewBag.Pregunta.Foto" alt="Foto de la pregunta" width="20%">
    }

    <form method="POST" action='@Url.Action("VerificarRespuesta", "Home")'>
        <input id="TiempoRestante" name="TiempoRestante" type="hidden">
        <input type="hidden" name="IdPregunta" value="@ViewBag.Pregunta.IdPregunta"><br>
        <!-- Contenedor de la grilla -->
        <div class="container">
            <!-- Fila de la grilla -->
            <div class="row">
                @foreach(Respuesta respuesta in ViewBag.Respuestas){
                    ContadorFilas++;
                    <div class="Respuesta col">
                        <label>
                            <input required="required" id="@respuesta.IdRespuesta" type="radio" name="IdRespuesta" value="@respuesta.IdRespuesta">
                            <p>@respuesta.Contenido</p>
                        </label>
                    </div>

                    @if(ContadorFilas % 2 == 0){
                        // Este coso crea un salto de línea dentro de la grilla
                        <div class="w-100"></div>
                    }
                }
            </div>
        </div>
        <button class="btn btn-primary">Enviar</button>
    </form>

    <script src="~/js/countdown.js"></script>
    <script>
        const DATE_TARGET = Date.now() + @ViewBag.Tiempo;
        updateCountdown();
        setInterval(updateCountdown, 1000);
        
        let intervalID = setInterval(() => {
            if(parseInt(document.querySelector('span#minutes').textContent) <= 0
            && parseInt(document.querySelector('span#seconds').textContent) <= 0){
                clearInterval(intervalID);
                Swal.fire({
                    title: "Upsi",
                    text: "Se terminó el tiempo",
                    icon: "error",
                    background: "#f8d7da",
                    color: "#721c24",
                    confirmButtonColor: "#dc3545"
                }).then(() => location = '@Url.Action("Jugar", "Home")');
            }
        }
        

        , 1000);
    </script>
</div>